<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>

<target name="Restored Target" sequenceNumber="5">
<locations>
<location path="${eclipse_home}" type="Profile"/>
<location path="${workspace_loc}/be.yt.dp/delta.pack/eclipse" type="Directory"/>
</locations>
<environment>
<os>win32</os>
<ws>win32</ws>
<arch>x86_64</arch>
<nl>nl_BE</nl>
</environment>
<launcherArgs>
<vmArgs>-Dosgi.requiredJavaVersion=1.5 -Dhelp.lucene.tokenizer=standard -Xms40m -Xmx512m</vmArgs>
</launcherArgs>
</target>
