<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="product1"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="dp">
         <property
               name="appName"
               value="dp">
         </property>
         <property
               name="cssTheme"
               value="be.yt.dp.defaultTheme">
         </property>
      </product>
   </extension>
   <extension
         id="product2"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.eclipse.e4.ui.workbench.swt.E4Application"
            name="dp">
         <property
               name="appName"
               value="dp">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.emf.ecore.generated_package">
      <package
            class="be.yt.dp.EPackage1"
            uri="be.yt.dp.package1">
      </package>
   </extension>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="be.yt.dp.definition1">
      </definition>
   </extension>
   <extension
         point="org.eclipse.e4.ui.css.swt.theme">
      <theme
            basestylesheeturi="css/default.css"
            id="be.yt.dp.standardtheme"
            label="Standard">
      </theme>
   </extension>

</plugin>
