*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath

delta.pack
*.jar

**/bin
/be.yt.dp/bin
bin
/be.yt.dp/bin
*.class
be.yt.dp/bin/be/yt/dp/data/dao/StockItemDAOImpl.class